<!-- FOOTER -->

<footer class="footer-container">
  <div>
    <a href="/" class="">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
    </a>
    <p class="text-title">GROUP M&S</p>
  </div>

  <section>
    <h5 class="text-body">Bogota DC, Colombia</h5>
    <h4 class="text-body">Correos Electronicos:</h4>
    <p class="text-body"><a href="mailto:groupms&#64;gmail.com">groupms&#64;gmail.com</a></p>
  </section>

  <section>
    <h5 class="text-body">Teléfonos de Contacto</h5>
    <p class="text-body"><a href="tel:+573123456789">+57 3123456789</a></p>
    <p class="text-body"><a href="tel:+573123456789">+57 3123456789</a></p>
  </section>
</footer>
