.footer-container {
    background-color: #c4c4c4;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap property to wrap the items */
}

.text-title {
    font-size: 3rem;
    margin-left: 6rem;
    font-weight: bold;
}

.text-body {
    font-size: 1.4rem;
    color: #19191a;
    text-decoration: none;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
    .text-title {
        margin-left: 2rem; /* Adjust the margin for smaller screens */
    }
}

/* Add media query for even smaller screens */
@media (max-width: 480px) {
    .text-title {
        margin-left: 1rem; /* Adjust the margin for even smaller screens */
    }
}
