.footer-container {
  background-color: #c4c4c4;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 3rem 0;
}

.text-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.text-body {
  font-size: 1.4rem;
  color: #19191a;
  text-decoration: none;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 1.5rem;
  }
}

@media (max-width: 640px) {
  .footer-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1rem 0;
  }
}
