<!-- FOOTER -->

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="text-body-secondary">GROUP M&S</p>
    </div>

    <div class="col mb-3">
      <!-- Espacio -->
    </div>

    <div class="col mb-3">
      <h5>Bogota DC, Colombia</h5>
      <ul class="nav flex-column">
        <h4>Correos Electronicos:</h4>
        <p><a href="mailto:groupms&#64;gmail.com">groupms&#64;gmail.com</a></p>

      </ul>
    </div>

    <div class="col mb-3">
      <!-- Espacio -->
    </div>

    <div class="col mb-2">
      <h5>Teléfonos de Contacto</h5>
      <ul class="nav flex-column">
        <p><a href="tel:+573123456789">+57 3123456789</a></p>
        <p><a href="tel:+573123456789">+57 3123456789</a></p>

      </ul>
    </div>
  </footer>
</div>
