<app-navuser></app-navuser>
<div class="container">
  <app-sidebar></app-sidebar>

  <div class="head-text">
    <h1 class="title">Compra-Venta</h1>

    <!-- Pop Up Añadir --> 
    <div class="dialog flex justify-content-center">
      <button class="add-button" (click)="showDialog()">+ Añadir Producto </button>
      <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }" class="form-background">
        <span class="p-text-secondary block mb-5 titulo">Añadir Producto</span>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="title" class="font-semibold w-6rem">Titulo Producto</label>
          <input pInputText id="title" class="flex-auto long-input" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="picture" class="font-semibold w-6rem">Imagen Producto</label>
          <input pInputText id="picture" class="flex-auto long-input" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="price" class="font-semibold w-6rem">Precio Producto</label>
          <input pInputText id="price" class="flex-auto long-input" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="comments" class="font-semibold w-6rem">Descripción</label>
          <input pInputText id="comments" class="flex-auto long-input" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="color" class="font-semibold w-6rem">Color</label>
          <input pInputText id="color" class="flex-auto long-input" autocomplete="off" />
        </div>
        <div class="gap-2 buttons">
          <button class="danger-button" (click)="visible = false">Cancelar</button>
          <button class="add-button" (click)="visible = false">Guardar</button>
        </div>
      </p-dialog>
    </div>
  </div>
</div>

<div class="col">
  <div class="card shadow-sm">
    <img src="../../assets/img/iphoneBackPng.png" class="card-img-top" alt="Iphone 15">
    <div class="card-body">
      <p class="card-text card-title">Iphone 15 pro max</p>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="flex justify-content-center">
          <!-- Pop Up Editar -->
          <button class="action-button center-vertical" (click)="showEditDialog()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            Editar Producto
          </button>
          <p-dialog [modal]="true" [(visible)]="Editvisible" [style]="{ width: '40rem' }">
              <span class="p-text-secondary block mb-5 titulo">
                Editar Articulo</span>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="title" class="font-semibold w-6rem">Titulo Producto</label>
                <input pInputText id="title" class="flex-auto long-input" autocomplete="off" />
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="picture" class="font-semibold w-6rem">Imagen Producto</label>
                <input pInputText id="picture" class="flex-auto long-input" autocomplete="off" />
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="price" class="font-semibold w-6rem">Precio Producto</label>
                <input pInputText id="price" class="flex-auto long-input" autocomplete="off" />
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="comments" class="font-semibold w-6rem">Descripción</label>
                <input pInputText id="comments" class="flex-auto long-input" autocomplete="off" />
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="color" class="font-semibold w-6rem">Color</label>
                <input pInputText id="color" class="flex-auto long-input" autocomplete="off" />
              </div>
              <div class="gap-2 buttons">
                <button class="danger-button" (click)="visible = false">Cancelar</button>
                <button class="add-button" (click)="visible = false">Guardar</button>
              </div>
            </p-dialog>
      </div>


        <br>
        <!-- Pop Up Eliminar -->
        <button class="action-button center-vertical" (click)="showDeleteDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
          Eliminar Producto </button>
          <p-dialog [modal]="true" [(visible)]="Deletevisible" [style]="{ width: '40rem' }">
              <span class="titulo">Eliminar Articulo</span>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="title" class="font-semibold w-6rem flex align-items-center">Estas seguro de eliminar este articulo?</label>
              </div>
              <div class="gap-2 buttons">
                <button class="danger-button" (click)="visible = false">Cancelar</button>
                <button class="add-button" (click)="visible = false">Eliminar</button>
              </div>
            </p-dialog>
      </div>
    </div>
  </div>
</div>
