<!-- sidebar.component.html -->
<div class="sidebar" id="sidebar">
  <div class="nav-title primary-text">
    <span>Group M&S</span>
  </div>
  <br>
  <br>
  <br>
  <ul>
    <li>
      <a href="/user">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
          <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg>
        <i class="bi bi-cart"></i>
        <span>Productos</span>
      </a>
    </li>
    <li>
      <button class="logout-button center-vertical" (click)="showDeleteDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
        </svg>
        Cerrar Sesión </button>
        <p-dialog [modal]="true" [(visible)]="Deletevisible" [style]="{ width: '40rem' }">
            <span class="titulo">Cerrar Sesión</span>
            <div class="flex align-items-center gap-3 mb-3">
              <label for="title" class="font-semibold w-6rem flex align-items-center">Estás seguro de cerrar Sesión?</label>
            </div>
            <div class="gap-2 buttons">
              <button class="danger-button" (click)="visible = false">Cancelar</button>
              <button class="add-button" (click)="visible = false">Cerrar Sesión</button>
            </div>
          </p-dialog>
    </li>
  </ul>
</div>


