<div class="d-flex wrap justify-content-center" style="margin-left: 100px; margin-right: 100px;">
  <div class="card img card-1">
    <img src="../../assets/img/Celular.png" class="card-img-top img" alt="..." style="width: 20rem; height: 15rem;">
    <div class="card-body">
      <h5 class="card-title primary-text color-white">Tecnología</h5>
      <a href="#" class="btn btn-primary secondary-text">Explora Aquí</a>
    </div>
  </div>

  <div class="card img card-2">
    <img src="../../assets/img/House.png" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title primary-text color-white">Finca Raíz</h5>
      <a href="#" class="btn btn-primary secondary-text">Explora Aquí</a>
    </div>
  </div>

  <div class="card img card-3">
    <img src="../../assets/img/Car.png" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title primary-text color-white">Compra-Venta</h5>
      <a href="#" class="btn btn-primary secondary-text">Explora Aquí</a>
    </div>
  </div>
</div>

<h2>Recomendados</h2>


