<div class="d-flex wrap justify-content-center" style="margin-left: 100px; margin-right: 100px;">
  <div class="card justify-content-center" style="width: 50rem; height: 25rem; border-radius: 0px; background-color: #BFBFBF ;">
    <img src="../../assets/img/Celular.png" class="card-img-top" alt="..." style="width: 20rem; height: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Tecnologia</h5>
      <a href="#" class="btn btn-primary">Explora Aqui</a>
    </div>
  </div>

  <div class="card" style="width: 50rem; border-radius: 0px; background-color: #425052 ;">
    <img src="../../assets/img/House.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Finca Raíz</h5>
      <a href="#" class="btn btn-primary">Explora Aqui</a>
    </div>
  </div>

  <div class="card" style="width: 50rem; border-radius: 0px; background-color: #B1CBCF ;">
    <img src="../../assets/img/Car.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Compra-Venta</h5>
      <a href="#" class="btn btn-primary">Explora Aqui</a>
    </div>
  </div>
</div>

<h2>Recomendados</h2>


