<div class="d-flex wrap">
  <div class="card" style="width: 18rem; border-radius: 0px; background-color: #BFBFBF ;">
    <!-- <img src="" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Tecnologia</h5>
      <a href="#" class="btn btn-primary">Explora Aqui</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; border-radius: 0px; background-color: #425052 ;">
    <!-- <img src="" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Tecnologia</h5>
      <a href="#" class="btn btn-primary">Explora Aqui</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; border-radius: 0px; background-color: #B1CBCF ;">
    <!-- <img src="" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Tecnologia</h5>
      <a href="#" class="btn btn-primary">Explora Aqui</a>
    </div>
  </div>
</div>

<h2>Recomendados</h2>


