<app-navigation></app-navigation>

<div class="d-flex justify-content-center">
  <div class="main-card shadow">
    <div class="image-product d-flex wrap">
      <img src="../../assets/img/iphoneBackPng.png" class="img" alt="Iphone 15">

      <div class="text">
        <h2 class="secondary-text">Iphone 15 Pro Max</h2>
        <h4 class="secondary-text">Especificaciones principales</h4>
          <ul class="text-list third-text">
            <li>Procesador: A15 Bionic</li>
            <li>Memoria RAM: 6 GB</li>
            <li>Almacenamiento: 128 GB</li>
            <li>Pantalla: 6.7 pulgadas</li>
            <li>Cámara: 12 MP + 12 MP + 12 MP</li>
            <li>Batería: 4352 mAh</li>
          </ul>

        <button>
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"
                ></path>
              </svg>
            </div>
          </div>
          <span>Comprar</span>
        </button>
      </div>
    </div>
  </div>

</div>

<div class="d-flex justify-content-center" style="margin: 20px;">
  <h2 class="secondary-text" style="font-size: 3rem;">También te podría interesar...</h2>
</div>

<div class="d-flex space-evenly">

    <div class="container">
          <div class="cardsR shadow-sm">
            <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
            <br>
            <div class="cards-body">
              <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
              <p class="cards-info">$3.500.000</p>
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="cardsC">Más</button>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="cardsR shadow-sm">
        <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
        <br>
        <div class="cards-body">
          <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
          <p class="cards-info">$3.500.000</p>
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="cardsC">Más</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="cardsR shadow-sm">
      <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
      <br>
      <div class="cards-body">
        <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
        <p class="cards-info">$3.500.000</p>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="cardsC">Más</button>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="cardsR shadow-sm">
      <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
      <br>
      <div class="cards-body">
        <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
        <p class="cards-info">$3.500.000</p>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="cardsC">Más</button>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="cardsR shadow-sm">
      <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
      <br>
      <div class="cards-body">
        <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
        <p class="cards-info">$3.500.000</p>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="cardsC">Más</button>
      </div>
    </div>
  </div>
  </div>


</div>


<!-- Footer -->
<app-footer></app-footer>





