<div class="d-flex justify-content-center">
  <div class="card shadow">
    <div class="image-product d-flex wrap">
      <img src="../../assets/img/iphoneBackPng.png" class="img" alt="Iphone 15">

      <div class="text">
        <h2>Iphone 15 Pro Max</h2>
        <h4>Especificaciones principales
          <ul>
            <li>Procesador: A15 Bionic</li>
            <li>Memoria RAM: 6 GB</li>
            <li>Almacenamiento: 128 GB</li>
            <li>Pantalla: 6.7 pulgadas</li>
            <li>Cámara: 12 MP + 12 MP + 12 MP</li>
            <li>Batería: 4352 mAh</li>
          </ul>
        </h4>
      </div>
    </div>
  </div>

</div>
