<app-navigation></app-navigation>

<div class="d-flex justify-content-center">
  <div class="main-card shadow">
    <div class="image-product d-flex wrap">
      <img [src]="product?.image" class="img" [alt]="product?.title">
      <!-- Accordion de Imágenes -->
      <div class="card" style="width: 100%;">
        <p-galleria
            [value]="images"
            [showIndicators]="true"
            [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '640px', 'margin': 'auto' }">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
      </div>

      <div class="text">
        <div *ngIf="product">
          <h2 class="secondary-text">{{ product?.title }}</h2>
          <h4 class="secondary-text">{{ product?.description }}</h4>
          <h3 class="secondary-text">$ {{ product?.price }}</h3>
        </div>


        <button>
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"
                ></path>
              </svg>
            </div>
          </div>
          <span>Comprar</span>
        </button>
      </div>
    </div>
  </div>

</div>


<div class="d-flex justify-content-center" style="margin: 20px;">
  <h2 class="secondary-text" style="font-size: 3rem;">También te podría interesar...</h2>
</div>

<div class="d-flex space-evenly">

    <div class="container">
          <div class="cardsR shadow-sm">
            <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
            <br>
            <div class="cards-body">
              <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
              <p class="cards-info">$3.500.000</p>
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="cardsC">Más</button>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="cardsR shadow-sm">
        <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
        <br>
        <div class="cards-body">
          <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
          <p class="cards-info">$3.500.000</p>
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="cardsC">Más</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="cardsR shadow-sm">
      <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
      <br>
      <div class="cards-body">
        <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
        <p class="cards-info">$3.500.000</p>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="cardsC">Más</button>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="cardsR shadow-sm">
      <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
      <br>
      <div class="cards-body">
        <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
        <p class="cards-info">$3.500.000</p>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="cardsC">Más</button>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="cardsR shadow-sm">
      <img src="../../assets/img/Iphone15.jpg" class="cards-img-top" alt="Iphone 15">
      <br>
      <div class="cards-body">
        <p class="cards-title">Iphone 15 pro max <br> (128 GB)</p>
        <p class="cards-info">$3.500.000</p>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="cardsC">Más</button>
      </div>
    </div>
  </div>
  </div>


</div>


<!-- Footer -->
<app-footer></app-footer>





