<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <span class="close" (click)="onClose()">&times;</span>
    <h2>Añadir Producto</h2>
    <form>
      <label class="titulo" for="titulo">Título Producto</label>
      <br />
      <input class="longinput" type="text" id="titulo" name="titulo" />

      <label class="titulo" for="imagenes">Imágenes Producto</label>
      <br />
      <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onUpload)="onUpload($event)"
          [multiple]="true"
          accept="image/*"
          maxFileSize="1000000"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>

      <label class="titulo" for="precio">Precio Producto</label>
      <br />
      <input class="longinput" type="text" id="precio" name="precio" />

      <label class="titulo" for="descripcion">Descripción</label>
      <br />
      <textarea
        class="longinput"
        id="descripcion"
        name="descripcion"
      ></textarea>

      <label class="titulo" for="colores">Colores&nbsp;</label>
      <br />
      <input class="shortinput" type="text" id="colores" name="colores" />
      <br />
      <div class="centrar">
        <button type="submit">Añadir Producto</button>
      </div>
    </form>
  </div>
</div>
