body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
}

app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  
}

app-sidebar.collapsed {
  width: 3rem; /* Ancho cuando está colapsada */
}

.main-content {
  margin-left: 15rem; /* Debe coincidir con el ancho de la sidebar */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Espaciado alrededor del contenido principal */
  transition: margin-left 0.3s; /* Animación para la transición del margen */
}

.main-content.collapsed {
  margin-left: 3rem; /* Debe coincidir con el ancho de la sidebar colapsada */
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center; /* Centrando las tarjetas */
  align-items: center;
}

.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #D2D4D6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  width: 20rem;
  height: 22rem;
  z-index: 100;
}

.card a {
  text-decoration: none;
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 80%;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.primary-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.secondary-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
}

.third-text {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.color-white {
  color: #f0f0f0;
}

.color-silver {
  color: #c7c4c1;
}

.color-raisin {
  color: #373442;
}

.color-khaki {
  color: #a69a8e;
}

.color-gray {
  color: #888987;
}

.color-black {
  color: #19191a;
}

.action-button {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}

.action-button svg {
  margin-right: 4px;
}

.action-button:hover {
  background-color: #888987;
  border-color: #888987;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-button:active {
  background-color: #888987;
  border-color: #888987;
  transform: translateY(0);
  box-shadow: none;
}

.center-vertical {
  display: flex;
  align-items: center;
}
