<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <img src="assets/img/giflogo.gif" alt="GIF" class="small-gif">
        <h1 class="primary-text">Group M&S</h1>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="nav-item"><a href="/inicio" class="nav-link px-2 secondary-text color-black nav-text">Inicio</a></li>
      <li class="nav-item"><a href="/tecnologia" class="nav-link px-2 secondary-text color-black nav-text">Tecnología</a></li>
      <li class="nav-item"><a href="/finca" class="nav-link px-2 secondary-text color-black nav-text">Finca Raiz</a></li>
      <li class="nav-item"><a href="/compra" class="nav-link px-2 secondary-text color-black nav-text">Compra/Venta</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button class="primary-button nav-text color-black" (click)="login()">Login</button>
    </div>
  </header>
</div>
