
<!-- BANNER TECNOLOGIA -->
  <div class="background">
    <div class="banner img banner-1 banner-elements background">
      <h5 class="banner-title primary-text color-white">Tecnología</h5>
      <img src="../../assets/img/Celular.png" class="banner-img-top img" alt="...">
    </div>
</div>

<div class="album py-5 bg-body-tertiary">

  <div class="container my-5 justify-content-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 ">
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../assets/img/Iphone15.jpg" class="card-img-top" alt="Iphone 15">
          <div class="card-body">
            <p class="card-text card-title">Iphone 15 pro max (128 GB)</p>
            <p class="card-text card-info">$3.500.000</p>
            <div class="d-flex justify-content-center align-items-center">
              <button type="button" class="card-button">Más Info</button>
            </div>      
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- FOOTER -->
  <app-footer></app-footer>


