
<!-- BANNER TECNOLOGIA -->
<div class="d-flex wrap banner-elements" style="margin-left: 0px; margin-right: 0px;">
    <div class="banner img banner-1 banner-elements">
    <h5 class="banner-title primary-text color-white">Tecnología</h5>
    <img src="../../assets/img/Celular.png" class="banner-img-top img" alt="...">
    </div>
</div>

<div class="card">
  <div class="content">
    <p class="heading">Card Hover Effect
    </p><p class="para">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
      laboriosam at voluptas minus culpa deserunt delectus sapiente
      inventore pariatur
    </p>
    <button class="btn">Read more</button>
  </div>
</div>

<div class="card">
  <div class="card-image"></div>
  <div class="category"> Illustration </div>
  <div class="heading"> A heading that must span over two lines
      <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
  </div>
</div>



<!-- FOOTER -->

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="text-body-secondary">GROUP M&S</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Bogota DC, Colombia</h5>
      <ul class="nav flex-column">
        <h4>Correos Electronicos:</h4>
        <p><a href="mailto:groupms&#64;gmail.com">groupms&#64;gmail.com</a></p>

      </ul>
    </div>

    <div class="col mb-3">
      <h5>Teléfonos de Contacto</h5>
      <ul class="nav flex-column">
        <p><a href="tel:+573123456789">+57 3123456789</a></p>
        <p><a href="tel:+573123456789">+57 3123456789</a></p>

      </ul>
    </div>
  </footer>
</div>

